@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

@font-face {
	font-family: right;
	src: url(right.ttf);
}
* {
	font-family: right;
}
body {
	margin: 0px
}
html {
	background-position: center;
	background-size: cover;
	background-attachment:fixed;
	min-height: 100vh;
}
.morefromarti {
	color:gray
}
#charinfos {
	float:right;
	display: block;
}
option {
	display: flex;
	justify-content: flex-start;
	font-family: right
}
@media (pointer:none), (pointer:coarse) {
	.morefromarti {
		text-align: center;
		display: block;
		font-size: 3vh
	}
}